<div class="p-8 mb-5">
  <h1 class="text-3xl font-bold mb-10">Nowa rezerwacja</h1>
  <div class="grid grid-cols-1 gap-x-20">
    <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <input type="text" [formControl]="meetingForm.controls.title_meeting" placeholder="Nazwa spotkania"
          class="border p-2 rounded w-full">
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <div class="mb-4 gap-4">
          <div class="relative mb-3" data-te-date-timepicker-init data-te-input-wrapper-init data-te-disable-past="true" id="datestart"
            data-te-default-date="22/02/2024" data-te-default-time="13:33">
            <input type="text"  [formControl]="meetingForm.controls.booking_date_start"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="form6" />
            <label for="form6"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Początek spotkania</label>
          </div>
        </div>
        <div class="mb-4 gap-4">
          <div class="relative mb-3" data-te-date-timepicker-init data-te-input-wrapper-init data-te-disable-past="true" id="dateend"
            data-te-default-date="22/02/2024" data-te-default-time="13:33">
            <input type="text"   [formControl]="meetingForm.controls.booking_date_end"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="form6" />
            <label for="form6"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Koniec spotkania</label>
          </div>
        </div>
      </div>

      <button type="button" id="theme-toggle" (click)="toggleContent()"
        class="px-4 py-2 m-2 rounded bg-blue-500 text-white hover:bg-blue-600 focus:outline-none transition-colors">
        Sprawdź dostępność
      </button>
      @if (showContent()) {
      <div class="mb-4 p-2 ga-4">
        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
          <input id="bordered-radio-1" type="radio" value="" name="bordered-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="bordered-radio-1"
            class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Biała</label>
        </div>
        <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
          <input checked id="bordered-radio-2" type="radio" value="" name="bordered-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="bordered-radio-2"
            class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Malinowa</label>
        </div>
      </div>
      <app-permequipment></app-permequipment>
      <app-optionalequipment></app-optionalequipment>
      }
      <button type="submit" [disabled]="meetingForm.invalid"
        class="px-4 py-2 m-2 rounded bg-blue-500 text-white hover:bg-blue-600 focus:outline-none transition-colors">
        Rezerwuj
      </button>
    </form>
  </div>
</div>