<div class="container p-4">
  <div class="content-between grid grid-cols-3 m-3">
    <div class="stats">
      <span class="text-lg font-bold">
        {{currentDate | date}}
      </span>
    </div>
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <button type="button" (click)="changeView('Day')" [ngClass]="view() === 'Day'? 'active':''"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Dzień
      </button>
      <button type="button" (click)="changeView('Week')" [ngClass]="view() === 'Week'? 'active':''"
        class="px-4 py-2 text-sm font-medium text-gray-900 border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Tydzień
      </button>
      <button type="button" (click)="changeView('Month')" [ngClass]="view() === 'Month'? 'active':''"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Miesiąc
      </button>
    </div>
    @switch (view()) {
    @case ('Day') {
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <button type="button" (click)="changeView('Day')"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Poprzedni dzien
      </button>
      <button type="button" (click)="changeView('Week')"
        class="px-4 py-2 text-sm font-medium text-gray-900 border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Dzisiaj
      </button>
      <button type="button" (click)="changeView('Month')"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Następny dzień
      </button>
    </div>
    }
    @case ('Month') {
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <button type="button" (click)="changeView('Day')"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Poprzedni miesiąc
      </button>
      <button type="button" (click)="changeView('Week')"
        class="px-4 py-2 text-sm font-medium text-gray-900 border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Ten miesiąc
      </button>
      <button type="button" (click)="changeView('Month')"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Następny miesiąc
      </button>
    </div>
    }
    @default {
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <button type="button" (click)="changeView('Day')"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Poprzedni tydzień
      </button>
      <button type="button" (click)="changeView('Week')"
        class="px-4 py-2 text-sm font-medium text-gray-900 border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Ten tydzień
      </button>
      <button type="button" (click)="changeView('Month')"
        class="px-4 py-2 text-sm font-medium text-gray-900  border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        Następny tydzień
      </button>
    </div>
    }
    }
  </div>
  @switch (view()) {
  @case ('Day') {
  <app-day-planner weekName=""></app-day-planner>
  }
  @case ('Month') {
  <app-calendar-gen [Week]="thisWeek" [Month]="calendarDaysWithMeetings"></app-calendar-gen>
  }
  @default {
  <app-scheduler [Meetings]="weekDaysWithMeetings" [Hours]="24" [Week]="thisWeek"></app-scheduler>
  }
  }
</div>