<div class="p-8 mb-5">
  <h1 class="text-3xl font-bold mb-10">Wydarzenia</h1>
  <hr class="my-10">
  <div class="grid grid-cols-2 gap-x-20">
    <div>
      <h2 class="text-2xl font-bold mb-4">Stats</h2>
      <div class="grid grid-cols-2 gap-4" style="height: 500px; padding: 20px; overflow-y: scroll;">
        @defer {
          @for (event of bookings(); track event;
          let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count
          ) {
          <div class="col-span-2">
            <div class="p-4 rounded-xl text-gray-800" [class]="{
                                                        'bg-red-100': even && !first && !last,
                                                        'bg-purple-100': odd && !first && !last,
                                                        'bg-blue-100': first || last
                                                      }">
              <div class="flex justify-between">
                <div class="text-gray-400 text-xs">{{ i + 1 }}/{{count}}</div>
                <div class="text-gray-400 text-xs">{{ duration(event['booking_date_start'],event['booking_date_end']) |
                  timeduration }}</div>
              </div>
              <div class="font-bold text-xl leading-none">{{ event['title_meeting'] }}</div>
              <div class="mt-2">{{event['booking_date_start'] | datefmtpl}}</div>
              <div class="mt-2">{{event['booking_date_start']| timefmt }} - {{event['booking_date_end'] | timefmt }}</div>
            </div>
          </div>
          }
        } @placeholder (minimum 500ms) {
          <div class="col-span-2">
            <p>Ładowanie</p>
          </div>
        }
      </div>
    </div>
    <div>
      <h2 class="text-2xl font-bold mb-4">Twoje spotkania</h2>
      <div class="space-y-4">
        <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
          <div class="flex justify-between">
            <div class="text-gray-400 text-xs">Number 10</div>
            <div class="text-gray-400 text-xs">4h</div>
          </div>
          <a href="javascript:void(0)" class="font-bold hover:text-yellow-800 hover:underline">Blog and social posts</a>
          <div class="text-sm text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
              class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>Deadline is today
          </div>
        </div>
        <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
          <div class="flex justify-between">
            <div class="text-gray-400 text-xs">Grace Aroma</div>
            <div class="text-gray-400 text-xs">7d</div>
          </div>
          <a href="javascript:void(0)" class="font-bold hover:text-yellow-800 hover:underline">New campaign review</a>
          <div class="text-sm text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
              class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>New feedback
          </div>
        </div>
        <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
          <div class="flex justify-between">
            <div class="text-gray-400 text-xs">Petz App</div>
            <div class="text-gray-400 text-xs">2h</div>
          </div>
          <a href="javascript:void(0)" class="font-bold hover:text-yellow-800 hover:underline">Cross-platform and
            browser QA</a>
        </div>
      </div>
    </div>
  </div>
</div>