<p>defer-views works!</p>
<form class='flex items-center gap-3 bg-gray-100 rounded py-3 px-4 lg:max-w-md'>
    <button class='text-gray-500'>
        <i data-feather='search' class='w-5'></i>
    </button>
    <input type="text" placeholder='Search Company HQ' class='bg-transparent outline-none w-full'>

</form>