<p>change-detection works!</p>
<!-- {{bookings}} -->
<div class="bg-white rounded shadow p-10">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Button
    </button>
    @defer {
    <ul>
        @for (booking of bookings(); track bookings;
        let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count
        ) {
        <li [class]="{
            'bg-red-100': even && !first && !last,
            'bg-purple-100': odd && !first && !last,
            'bg-blue-100': first || last
          }">
            {{ i + 1 }}/{{count}} - {{ booking | json }}
        </li>
        }
    </ul>
    }
    <!-- <ul>
        @for (framework of frameworks(); track framework;
        let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count
        ) {
        <li [class]="{
            'bg-red-100': even && !first && !last,
            'bg-purple-100': odd && !first && !last,
            'bg-blue-100': first || last
          }">
            {{ i + 1 }}/{{count}} - {{ framework }}
        </li>
        }
    </ul> -->
    <ul>
        @for (framework of users; track framework;
        let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count
        ) {
        <li [class]="{
            'bg-red-100': even && !first && !last,
            'bg-purple-100': odd && !first && !last,
            'bg-blue-100': first || last
          }">
            {{ i + 1 }}/{{count}} - {{ framework }}
        </li>
        }
    </ul>
    
</div>