    <div class="relative rounded-xl overflow-auto">
        <!-- {{weekName}} -->
        <div class="mx-4 bg-white dark:bg-slate-800">
            <div
                class=" grid grid-cols-[70px,auto] grid-rows-[auto,auto] ">
                <!-- Calendar frame -->
                <div
                    class="row-start-[1] col-start-[1] sticky top-0 z-10 bg-white dark:bg-gradient-to-b dark:from-slate-600 dark:to-slate-700 border-slate-100 dark:border-black/10 bg-clip-padding text-slate-900 dark:text-slate-200 border-b text-sm font-medium py-2">
                </div>
                <div
                    class="row-start-[1] col-start-[2] sticky top-0 z-10 bg-white dark:bg-gradient-to-b dark:from-slate-600 dark:to-slate-700 border-slate-100 dark:border-black/10 bg-clip-padding text-slate-900 dark:text-slate-200 border-b text-sm font-medium py-2 text-center">
                    Pon</div>
               
                <div
                    class="row-start-[2] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    5:00</div>
                <div class="row-start-[2] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
            
                <div
                    class="row-start-[3] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    6:00</div>
                <div class="row-start-[3] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
              
                <div
                    class="row-start-[4] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    7:00</div>
                <div class="row-start-[4] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[5] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    8:00</div>
                <div class="row-start-[5] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[6] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    9:00</div>
                <div class="row-start-[6] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[7] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    10:00</div>
                <div class="row-start-[7] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[8] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    11:00</div>
                <div class="row-start-[8] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[9] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    12:00</div>
                <div class="row-start-[9] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
                
                <div
                    class="row-start-[10] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    13:00</div>
                <div class="row-start-[10] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
                
                <div
                    class="row-start-[11] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    14:00</div>
                <div class="row-start-[11] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[12] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    15:00</div>
                <div class="row-start-[12] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
                
                <div
                    class="row-start-[13] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    16:00</div>
                <div class="row-start-[13] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[14] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    17:00</div>
                <div class="row-start-[14] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
                
                <div
                    class="row-start-[15] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    18:00</div>
                <div class="row-start-[15] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
               
                <div
                    class="row-start-[16] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    19:00</div>
                <div class="row-start-[16] col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
                </div>
              
                <div
                    class="row-start-[17] col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                    20:00</div>
                <div class="row-start-[17] col-start-[2] border-slate-100 dark:border-slate-200/5 border-r"></div>
          
                <!-- Calendar contents -->
                <!-- <app-calendar-card [x]="10" [y]="1"></app-calendar-card> -->
                <!-- <div
                    class="row-start-[2] col-start-[3] row-span-4 bg-blue-400/20 dark:bg-sky-600/50 border border-blue-700/10 dark:border-sky-500 rounded-lg m-1 p-1 flex flex-col">
                    <span class="text-xs text-blue-600 dark:text-sky-100">5:00</span>
                    <span class="text-xs font-medium text-blue-600 dark:text-sky-100">Początek minisprintu</span>
                    <span class="text-xs text-blue-600 dark:text-sky-100">Sala biała</span>
                </div>
                <div
                    class="row-start-[3] col-start-[4] row-span-4 bg-purple-400/20 dark:bg-fuchsia-600/50 border border-purple-700/10 dark:border-fuchsia-500 rounded-lg m-1 p-1 flex flex-col">
                    <span class="text-xs text-purple-600 dark:text-fuchsia-100">6:00</span>
                    <span class="text-xs font-medium text-purple-600 dark:text-fuchsia-100">Briefing</span>
                    <span class="text-xs text-purple-600 dark:text-fuchsia-100">Sala Niebieska</span>
                </div>
                <div
                    class="row-start-[14] col-start-[7] row-span-3 bg-pink-400/20 dark:bg-indigo-600/50 border border-pink-700/10 dark:border-indigo-500 rounded-lg m-1 p-1 flex flex-col">
                    <span class="text-xs text-pink-600 dark:text-indigo-100">17:00</span>
                    <span class="text-xs font-medium text-pink-600 dark:text-indigo-100">🎉 Deploy 🎉</span>
                    <span class="text-xs text-pink-600 dark:text-indigo-100">Sala Malinowa</span>
                </div> -->
            </div>
        </div>
    </div>
    <div class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl dark:border-white/5"></div>