.cal-day{
     width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.cal-day:hover{
    background-color: #ccc;
}
.today{
    /* border: 2px solid goldenrod; */
    color: #fff;
    background-image: repeating-linear-gradient(45deg,
                #553c9a,
                #553c9a 25px,
                #b393d3 25px,
                #b393d3 50px);
}