<div class="flex flex-col items-center w-full max-w-screen-md p-6 pb-6 mt-10 bg-white rounded-lg sm:p-8">
    <h2 class="text-xl font-bold">Miesiące</h2>
    <span class="text-sm font-semibold text-gray-500">2023</span>
    <div class="flex items-end flex-grow w-full mt-2 space-x-2 sm:space-x-3">
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$37,500</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-6 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-16 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Sty</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$45,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-10 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-6 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-20 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Luty</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$47,500</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-10 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-20 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Mar</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$50,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-10 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-6 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-24 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Kwi</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$47,500</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-10 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-20 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Maj</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$55,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-24 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Cze</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$60,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-16 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-20 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Lip</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$57,500</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-10 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-24 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Sie</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$67,500</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-10 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-32 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Wrz</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$65,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow bg-indigo-400 h-28"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Paź</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$70,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-40 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Lis</span>
        </div>
        <div class="relative flex flex-col items-center flex-grow pb-5 group">
            <span class="absolute top-0 hidden -mt-6 text-xs font-bold group-hover:block">$75,000</span>
            <div class="flex items-end w-full">
                <div class="relative flex justify-center flex-grow h-12 bg-indigo-200"></div>
                <div class="relative flex justify-center flex-grow h-8 bg-indigo-300"></div>
                <div class="relative flex justify-center flex-grow h-40 bg-indigo-400"></div>
            </div>
            <span class="absolute bottom-0 text-xs font-bold">Gru</span>
        </div>
    </div>
    <div class="flex w-full mt-3">
        <div class="flex items-center ml-auto">
            <span class="block w-4  h-4 bg-indigo-200"></span>
            <span class="ml-1 text-xs font-medium">Inne</span>
        </div>
        <div class="flex items-center ml-4">
            <span class="block w-4  h-4 bg-indigo-300"></span>
            <span class="ml-1 text-xs font-medium">Praca urzędu</span>
        </div>
        <div class="flex items-center ml-4">
            <span class="block w-4 h-4 bg-indigo-400"></span>
            <span class="ml-1 text-xs font-medium">Spotkania</span>
        </div>
    </div>
</div>