<div class="relative rounded-xl overflow-auto">
    <span>Tydzień {{weekOfYear}}</span>
    <div class="mx-4 bg-white dark:bg-slate-800">
        <div class=" grid grid-cols-[70px,repeat(7,200px)] bg-white sticky">
            <!-- Calendar frame -->
            <div
                class="row-start-[1] col-start-[1] sticky top-0 z-10 bg-white dark:bg-gradient-to-b dark:from-slate-600 dark:to-slate-700 border-slate-100 dark:border-black/10 bg-clip-padding text-slate-900 dark:text-slate-200 border-b text-sm font-medium py-2">
            </div>
            @for (day of Week; track $index) {
            <div ngClass="col-start-{{$index+2}}" [appTodayClass]="day.isToday"
                class="row-start-[1] sticky top-0 z-10 dark:bg-gradient-to-b dark:from-slate-600 dark:to-slate-700 border-slate-100 dark:border-black/10 bg-clip-padding text-slate-900 dark:text-slate-200 border-b text-sm font-medium py-2 text-center">
                {{day.dayName | uppercase}}
                {{day.date | date }}
            </div>
            }
        </div>
        <div class="grid grid-cols-[70px,repeat(7,200px)] grid-rows-[auto,repeat(30,30px)] snap-y"
            style="height: 70vh;">
            <hr>
            @for (hour of timeArray; track $index) {
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[1] border-slate-100 dark:border-slate-200/5 border-r text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
                {{hour}}</div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[2] border-slate-100 dark:border-slate-200/5 border-b border-r">
            </div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[3] border-slate-100 dark:border-slate-200/5 border-b border-r">
            </div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[4] border-slate-100 dark:border-slate-200/5 border-b border-r">
            </div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[5] border-slate-100 dark:border-slate-200/5 border-b border-r">
            </div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[6] border-slate-100 dark:border-slate-200/5 border-b border-r">
            </div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[7] border-slate-100 dark:border-slate-200/5 border-b border-r">
            </div>
            <div [ngStyle]="{'grid-row-start': $index + 1}"
                class="col-start-[8] border-slate-100 dark:border-slate-200/5 border-b"></div>
            }
            <!-- Calendar contents -->
            @for (events of Meetings; track $index;) {
            @for (event of events.hasMeetings; track event.$index) {
            <app-calendar-card class="card snap-center"
                [ngStyle]="{'grid-column-start': events.weekDay,'grid-row-start':meetingStart(event.booking_date_start),'grid-row-end':meetingStart(event.booking_date_start)+duration(event.booking_date_start,event.booking_date_end) }"
                [start]="event.booking_date_start" [end]="event.booking_date_end">
                <hr>
                {{event.title_meeting}}
            </app-calendar-card>
            }
            }
            <!-- Calendar contents end -->
        </div>
    </div>
</div>

<div class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl dark:border-white/5"></div>