<!-- <div id="menu" class="bg-gray-900 min-h-screen z-10 text-slate-300 w-64 left-0 h-screen overflow-y-scroll">
  <div id="logo" class="my-4 px-6">
    <h1 class="text-lg md:text-2xl font-bold text-white">SRS</h1>
    <p class="text-slate-500 text-sm">System rezerwacji sal</p>
  </div>
  <div id="profile" class="px-6 py-10">
    <p class="text-slate-500">Welcome back,</p>
    <a href="#" class="inline-flex space-x-2 items-center">
      <span>
        <img class="rounded-full w-8 h-8"
          src="https://i.pravatar.cc/300"
          alt="">
      </span>
      <span class="text-sm md:text-base font-bold">
        Edward Tompson
      </span>
    </a>
  </div>
  <div id="nav" class="w-full px-6">

    @for( item of menuItems; track $index ) {
    <a [routerLink]="item.path" routerLinkActive="bg-blue-800" href="#"
      class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">

      <div class="flex flex-col">
        <span class="text-lg font-bold leading-5 text-white">{{item.title}}</span>
        <span class="text-sm text-white/50 hidden md:block">{{item.path }}</span>
      </div>
    </a>
    }

  </div>
</div> -->
<aside class="fixed z-20 inset-y-0 left-0 bg-white shadow-md max-h-screen transition-transform" [ngClass]="collapse() ? 'w-60' : 'w-20'">
  <div class="flex  flex-col justify-between h-full">
    <div class="flex-grow">
      <div class="px-4 py-6 text-center border-b cursor-pointer" (click)="toggleMenu()">
        <div class="p-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>
        <h1 class="text-xl font-bold leading-none" [ngClass]="collapse() ? 'opacity-100' : 'opacity-0'"><span class="text-yellow-700">SRS App</span></h1>
      </div>
      <div class="p-4">
        <ul class="space-y-1">
          <li routerLink="/dashboard/calendar" class="rounded-xl" routerLinkActive="bg-yellow-200">
            <button type="button" class="flex items-center  font-bold text-sm text-yellow-900 py-3 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4"
                viewBox="0 0 16 16">
                <path
                  d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
              </svg>
              <span [ngClass]="collapse() ? 'opacity-100' : 'hidden'">Nowa rezerwacja</span>
            </button>
          </li>
          <li routerLink="/dashboard/new-booking" class="rounded-xl" routerLinkActive="bg-yellow-200">
            <button type="button" class="flex items-center  rounded-xl font-bold text-sm text-yellow-900 py-3 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4"
                viewBox="0 0 22 22">
                <path d="M19 19H5V8h14m0-5h-1V1h-2v2H8V1H6v2H5a2 2 0 00-2
                        							2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2m-2.47
                        							8.06L15.47 10l-4.88 4.88-2.12-2.12-1.06 1.06L10.59
                        							17l5.94-5.94z"></path>
              </svg>
              <span [ngClass]="collapse() ? 'opacity-100' : 'hidden'">Kalendarz</span>
            </button>
          </li>
          <li routerLink="/dashboard/events" class="rounded-xl" routerLinkActive="bg-yellow-200">
            <button type="button" class="flex items-center  rounded-xl font-bold text-sm text-yellow-900 py-3 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4"
                viewBox="0 0 16 16">
                <path
                  d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z" />
              </svg>
              <span [ngClass]="collapse() ? 'opacity-100' : 'hidden'">Wydarzenia</span>
            </button>
          </li>
          <li routerLink="/dashboard/locations" class="rounded-xl" routerLinkActive="bg-yellow-200">
            <button type="button" class="flex items-center  rounded-xl font-bold text-sm text-yellow-900 py-3 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-lg mr-4"
                viewBox="0 0 16 16">
                <path
                  d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
              </svg>
              <span [ngClass]="collapse() ? 'opacity-100' : 'hidden'">Lokalizajce</span>
            </button>
          </li>
   
          <li routerLink="/dashboard/raports" class="rounded-xl" routerLinkActive="bg-yellow-200">
            <button type="button" class="flex items-center  rounded-xl font-bold text-sm text-yellow-900 py-3 px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-lg mr-4"
                viewBox="0 0 16 16">
                <path
                  d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
              </svg>
              <span [ngClass]="collapse() ? 'opacity-100' : 'hidden'">Raporty</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-4">
      <button type="button"
        class="inline-flex items-center justify-center h-9 px-4 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class=""
          viewBox="0 0 16 16">
          <path
            d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>
      </button><span class="font-bold text-sm ml-2" [ngClass]="collapse() ? 'opacity-100' : 'hidden'">Wyloguj</span>
    </div>
  </div>
</aside>