    <!-- <div
    class="row-span-1 bg-blue-400/20 dark:bg-sky-600/50 border border-blue-700/10 dark:border-sky-500 rounded-lg m-1 p-1 flex flex-col"> -->
    <!-- class="row-start-[{{x}}] col-start-[{{y}}] row-span-1 bg-blue-400/20 dark:bg-sky-600/50 border border-blue-700/10 dark:border-sky-500 rounded-lg m-1 p-1 flex flex-col"> -->
    <span class="text-xs text-blue-600 dark:text-sky-100">{{start| timefmt }} - {{end | timefmt }}</span>
    <span class="text-xs font-medium text-blue-600 dark:text-sky-100">{{meetingTime}}</span>
    <span class="text-xs font-medium text-blue-600 dark:text-sky-100"><ng-content></ng-content></span>
    <!-- <span class="align-bottom text-xs text-blue-600 dark:text-sky-100">Sala biała</span> -->
    <div class="px-1 py-4">
        <!-- <span class="align-bottom text-xs text-blue-600 dark:text-sky-100">Sala biała</span> -->
    </div>
<!-- </div> -->