<div class="p-8 mb-5">
  <h1 class="text-3xl font-bold mb-10">Nowa rezerwacja</h1>
  <div class="grid grid-cols-1 gap-x-20">
    <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <input type="text" formControlName="title_meeting" placeholder="Nazwa spotkania" class="border p-2 rounded w-full">
      </div>
      {{tomorrow}}<br>
      {{tomorrow | datePlaceholder}}
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <div class="mb-4 gap-4">
          <label class="p-2">Początek spotkania</label>
          <input type="datetime-local" formControlName="booking_date_start" ngModel="{{tomorrow | datePlaceholder}}" min="{{tomorrow | datePlaceholder}}" class="form-input border p-2 rounded w-30">
        </div>
        <div class="mb-4 gap-4">
          <label class="p-2">Koniec spotkania</label>
          <input type="datetime-local" formControlName="booking_date_end" ngModel="{{tomorrow | datePlaceholder}}"
            min="{{tomorrow | datePlaceholder}}" class="form-input border p-2 rounded w-30">
          </div>
        <div class="mb-4 gap-4">
          <!-- <input type="number" name="duration" step="15" placeholder="15">
              <label for="quantity-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Czas trwania:</label>
              <div class="relative flex items-center max-w-[8rem]">
                <button type="button" id="decrement-button" data-input-counter-decrement="quantity-input"
                  class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                  <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 2">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                  </svg>
                </button>
                <input type="text" id="quantity-input" data-input-counter aria-describedby="helper-text-explanation"
                  class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="15" step="15" required>
                <button type="button" id="increment-button" data-input-counter-increment="quantity-input"
                  class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                  <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                  </svg>
                </button>
              </div> -->
          <!-- <select class="border appearance-none bg-white p-2 rounded w-20 cursor-pointer" formControlName="duration">
            <option>wybierz</option>
            <option>30min</option>
            <option>45min</option>
            <option>1h</option>
            <option>1h15min</option>
            <option>1h30min</option>
            <option>2h</option>
          </select> -->
          <!-- <label class="relative inline-flex items-center m-4 cursor-pointer">
            <input type="checkbox" (change)="toggleMore()" class="sr-only peer" formControlName="more_days">
            <div
              class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Inny dzień</span>
          </label> -->
        </div>
      </div>
      <!-- {{dayAfterTomorrow}} -->
      @if (showMore()) {
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <div class="mb-4 gap-4">
          <label class="p-2">Data zakończenia</label>
          <input type="date" formControlName="finish_date" placeholder="{{dayAfterTomorrow | datePlaceholder}}" min="{{dayAfterTomorrow}}"
            class="form-input border p-2 rounded w-30">
        </div>
        <div class="mb-4 gap-4">
          <label class="p-2">Godzina zakończenia</label>
          <input type="time" formControlName="finish_time" placeholder="Początek" min="8:00" max="16:00" class="border p-2 rounded w-20">
        </div>
      </div>
      }
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <div class="mb-4 gap-4">
          <label class="p-2">Uczestnicy</label>
          <input type="number" formControlName="participants" placeholder="Ilość ludzi" class="border m-2 p-2 rounded w-6/12">
        </div>
        <div class="mb-4">
          <label>Lokalizacja</label>
          <select class="border appearance-none bg-white p-2 m-2 rounded w-6/12 cursor-pointer" >
            <option>wybierz</option>
            <option>Kolegiacka</option>
            <option>Libelta</option>
            <option>3Maja</option>
            <option>Gronowa</option>
          </select>
        </div>
        <!-- <div class="mb-4">
          <label class="p-2">Ustawienie sali</label>
          <select class="border appearance-none bg-white p-2 rounded w-6/12 cursor-pointer" formControlName="room_variant">
            <option>wybierz</option>
            <option>Koncertowe</option>
            <option>Stoły</option>
          </select>
        </div> -->
      </div>
      <button type="button" id="theme-toggle" (click)="toggleContent()"
        class="px-4 py-2 m-2 rounded bg-blue-500 text-white hover:bg-blue-600 focus:outline-none transition-colors">
        Sprawdź dostępność
      </button>
      @if (showContent()) {
        <div class="mb-4 p-2 ga-4">
          <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
            <input id="bordered-radio-1" type="radio" value="" name="bordered-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="bordered-radio-1"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Biała</label>
          </div>
          <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
            <input checked id="bordered-radio-2" type="radio" value="" name="bordered-radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="bordered-radio-2"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Malinowa</label>
          </div>
        </div>
        <app-permequipment></app-permequipment>
        <app-optionalequipment></app-optionalequipment>
      }
      <button type="submit" [disabled]="meetingForm.invalid"
        class="px-4 py-2 m-2 rounded bg-blue-500 text-white hover:bg-blue-600 focus:outline-none transition-colors">
        Rezerwuj
      </button>
    </form>
  </div>
</div>