<div
  class="flex bg-slate-100 text-black  w-screen h-screen antialiased selection:bg-blue-600 selection:text-white">
  <div class="flex relative w-screen">

    <app-sidemenu />

    <div class="text-black px-2 mt-2 w-full">
      <main class="ml-32 pt-6 max-h-screen overflow-auto">
        <div class="px-6 py-8">
          <div class="max-w-8xl mx-auto max-h-full">
            <div class="bg-white rounded-3xl">
              <router-outlet />
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>